<!--The content below is only a placeholder and can be replaced.-->
  <nav>
  	<!-- <a routerLink="/home" >Home</a> -->
    <a routerLink="/map" routerLinkActive="active">Map</a>
  </nav>

<router-outlet></router-outlet>
