<div class="page-container">
	<div class="map-container">
		<div>Map</div>
		<!-- <div>Latitude:{{lat}},Longitude:{{long}}</div> -->
		<div class="map"></div>
	</div>
	<div class="add-poi-container">
		<div id="poi">
			<div class="container">
				<h1>Add POI</h1>
				<form [formGroup]="geoForm" (ngSubmit)=addLocation(geoForm.value)>
					<div class="form-group">
						<label for="poiName">Medicine Shop Name<input type="text"
							class="form-control" formControlName="poiName"></label>
					</div>
					<div class="form-group">
						<label for="address">Address<input type="text"
							class="form-control" formControlName="address"></label>
					</div>
					<div class="form-group">
						<label for="city">City<input type="text"
							class="form-control" formControlName="city"></label>
					</div>
					<div class="form-group">
						<label for="state">State<input type="text"
							class="form-control" formControlName="state"></label>
					</div>	
					<div class="form-group">
						<label for="zipCode">Postal Code<input type="text"
							class="form-control" formControlName="zipCode"></label>
					</div>					
					<div class="form-group">
						<label for="openTime">Open Time<input type="text"
							class="form-control" formControlName="openTime"></label>
					</div>
					<div class="form-group">

						<label for="closeTime">Close Time<input type="text" 
							class="form-control" formControlName="closeTime"></label>
					</div>
					<div class="form-group">

						<label for="noOfWorkingHours">No. of working hours<input type="text" 
							class="form-control" formControlName="noOfWorkingHours"></label>
					</div>
					<div class="form-group">
						<label>Location</label><br /> <label for="poiLat">Lat</label> <input
							type="text" class="form-control" formControlName="lat"
							[(ngModel)]="lat"> <label for="poiLat">Long</label> <input
							type="text" class="form-control" formControlName="long"
							[(ngModel)]="long">
					</div>

					<button type="submit" class="btn btn-success"
						[disabled]="!geoForm.valid">Submit</button>
				</form>
			</div>
		</div>

	</div>
</div>
