.page-container{
	overflow:auto;
	.map-container{
		float:left;
		min-width:80%;
	}
	.add-poi-container{
		float:left;
		min-width:20%;
	}
}

.map {
  width:100%;
  height:100%;
  border: 1px dotted silver;
}

