/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

.tooltip {	
    position: absolute;			
    text-align: center;			
    width: 200px;					
    					
    padding: 8px;				
    font: 12px sans-serif;		
    background: #fff;	
    border: 10px;		
    border-radius: 8px;			
    pointer-events: none;
}
